---
import Social from "./Social.astro";
---
<div >
    <div class="site-name">
        <h2>Apeksha Chauhan</h2>
    </div>
    <div class="nav-links">
        <a href="/">Home</a>
        <a href="/blog/">Blog / Project</a>
        <a href="/about/">Resume</a>
        <a href="/tags/">Archive</a>
   
        
    </div>   
    <div class="social-links">
        
    </div>
</div>
