---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<style>
.title {
    text-align: center;
}

.author, .date {
    text-align: center;
}

.date {
    padding-bottom: 8px;
    margin-bottom: 8px;
    border-bottom: solid 2px #B0B0B0;
}

.prose{
    width: 720px;
	max-width: calc(100% - 2em);
	margin: auto;
	padding: 1em;
	color: rgb(var(--gray-dark));
}

</style>

<BaseLayout>
    <div class="prose">
        <h2 class="title">{frontmatter.title}</h2>
        <p class="date">{frontmatter.pubDate.toString().slice(0,15)}</p>
        <slot/>
    </div>
</BaseLayout>


